body { 
  vertical-align: baseline;
  text-align: center;
  background: #faf9f4;
  font-family: "calluna-1","calluna-2",Georgia,Cambria,"Times New Roman",Times,serif;
  color: #333332;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

a {
  color: #0084B4;
}

a:hover {
  color: #1F98C7;
}

p {
  margin-bottom: 27px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

h1 {
  font-weight: 700;
  font-size: 47px;
  line-height: 51px;
  margin-bottom: 17px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px;
  margin-top: 33px;
}


h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
  margin-top: 33px;
}

div.highlight {
  padding: 0.25em 0.15em;
}

pre {
  font-family: monospace;
  font-size: 14px;
  line-height: 18px;
  border-left: 3px solid #777;
  background: #ddd;
  padding-left: 20px;
  margin: 0 0 27px 0;
  width: 640px;
  overflow: auto;
}
code {
  background: #ddd;
  padding: 2px;
}
.highlight pre {
  margin: 0 0;
}
.container {
  width: 640px;
  text-align: left;
  margin: auto auto;
}
.header {
  border-bottom: 1px solid #aaa;
  padding-bottom: 1em;
  margin-bottom: 2em;
}
.header h1 {
  margin-bottom: 0.05em;
}
.header h1 a {
  text-decoration: none;
  color: #333332;
}
.header h1 a:hover {
  text-decoration: none;
  color: #1F98C7;
}
.tagline {
  margin: 0 0;
  font-style: italic;
}
.footer {
  margin-top: 2em;
  border-top: 1px solid #aaa;
}
